/* You can add global styles to this file, and also import other style files */
.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}
/* .container{
margin-top:1rem;
flex-direction: column;
padding: 1.5rem;
  display:flex;
justify-content: center;
align-items: center;
}

*/
.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}